* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root {
    --main-color: #f53192;
    --bg-color: #ffe0e5;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
body {
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
.app {
    width: 100%;
    max-width: 400px;
    padding: 35px 25px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 6px;
}
.app nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.app nav .circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--main-color);
    background-color: white;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.app nav .circle i {
    font-size: 16px;
}
.app nav h1 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 3px;
    border-bottom: 2px solid lightgray;
}
.app .song-image {
    margin-bottom: 30px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.app h2.song-name {
    font-size: 25px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 60px;
}
.app #progress {
    margin-bottom: 30px;
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: lightgray;
    cursor: pointer;
    position: relative;
}
.app #progress::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid white;
    background-color: var(--main-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.app #progress::before,
.app #progress::after {
    position: absolute;
    top: -40px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: #777;
    border-radius: 3px;
}
.app #progress::before {
    content: attr(data-current-time);
    left: 10px;
}
.app #progress::after {
    content: attr(data-duration);
    right: 10px;
}
.app .controls {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.app .controls .ctrl-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    background-color: white;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.app .controls .ctrl-icon i {
    font-size: 18px;
}
.app .controls .ctrl-icon:nth-child(2) {
    transform: scale(1.3);
    color: white;
    background-color: var(--main-color);
}